<html>
<body bgcolor=#a3cfb4>
    <center>
    <h1>  [PREDICTION] </h1>
    {%if data == 3%}
    <h1>quality is low (3)</h1>
    {%endif%}

    {%if data == 4%}
    <h1>quality is low (4)</h1>
    {%endif%}

    {%if data == 5%}
    <h1>quality is medium (5)</h1>
    {%endif%}

    {%if data == 6%}
    <h1>quality is medium (6)</h1>
    {%endif%}

    {%if data == 7%}
    <h1>quality is high (7)</h1>
    {%endif%}

    {%if data == 8%}
    <h1>quality is high (8)</h1>
    {%endif%}

    <a href='/'>go back to home page</a>
    </center>
</body>
</html>